<div class="row mt centered">
  <%= form_tag("/results/create") do %>
      <h1>用語情報追加登録</h1>
      <p>
        巻数： <input type="number" name="number"  min="1" max="32">
      </p>
      <p>
        台詞： <textarea name="word"></textarea>
      </p>
      <p>
        <input id="submit" type="submit" value="登録">
      </p>
  <% end %>
</div>