// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit{
    width: fit-content;
    display: flex;
    margin: auto;
}

#edit p{
    margin: 0 20px 50px 20px;
}